/* Mobile & Table */
@media (max-width: 1023px) {}

/* Table */
@media (min-width: 740px) and (max-width: 1023px) {}

/* Table Lanscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* Mobile */

@media (max-width: 739px) {
  
    .homecat-title {
       
        font-size: 24px;
       
        letter-spacing: 2px;
        padding: 0px;
        
    }
    .homecat-intro
    {
        font-size: 16px;
    }
    .homeinfo-wrapper {
        margin-top: -25px;
        margin-bottom: 30px;
    }
    .bg-wrapper {
        background-size: 100% 100%;
    }
    .homecamket-right
    {
        margin-top: 20px;

    }
    .thanhtich-name {
        font-size: 15px;
    }
    .thanhtich-item
    {
        padding: 10px;
    }
    .homeleader_wrapper {
        position: relative;
        z-index: 4;
        padding-top: -2px;
        margin-top: -57px;
        background-size: cover;
        background-position: center center;
    }
    .homenews-item {
     
        margin-bottom: 30px;
    }
    .quote {
        /* padding: 10px 20px; */
        font-size: 18px;
        padding-bottom: 10px;
    }
    .quote::before {
      
        width: 60px;
        height: 60px;
    }
    .quote::after {
      
        width: 60px;
       
        right: 0px;
        bottom: -25px;
      
    }
    .formbooking-home {
        max-width: 100%;
      
        padding: 10px;
    }
    .text-booking label {
        font-size: 14px;
    }
    #tabsinfo-nav {
        margin-right: 0px;
    }
    .tabinfonav-item a {
        font-size: 22px;
    }
    #tabs-nav.tabs-lichsu {
       
        overflow: scroll;
    }
    .info_csvc::before
    {
        display: none;
    }
    .pres-item {
        width: 100%;
      
    }
    .presitem-img {
        height: auto;
    }
    .pres-item:nth-last-child(1) {
        display: block;
    }
    .pres-item:nth-last-child(1) .pres-desc, .pres-item:nth-last-child(1) .presitem-img
{
    width: 100%;
}
.preactivites-item
{
    margin-bottom: 0px;
}
    
}

/* Ipad pro */


@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}


/* PC LARGE */

@media (min-width: 1919px) {
    .grid {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
}
@media (max-width: 1200px) {
    .galleries {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    .galleries {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    .galleries {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    .galleries {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }
  